@import "./globals.less";
@import "./variables.less";
.ir-arriba{
    display: none;
}
.carousel__tablet{
    display: none;
   
}
.carousel__desktop{
    display: inline;
}
.carousel-inner{
    border-top: 2px solid @color-primary;
    border-bottom: 2px solid @color-primary;

}
.carousel__marcas{
    max-width: 1110px;
}
  
.index{
    .slideA__Content{
        &__box{
            height: 300px;
            img{
                width: 400px;
                overflow: hidden;
            }

        }
    }
    .slideB__Content{
        &__box{
            &-cta{
                bottom: 0 ;
            }
            background-color: rgba(255, 255, 255, 0.8) ;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto ;
            grid-template-areas: "somos boton"
                                "cleaver boton";
            align-items: center;
            justify-content: center;
            p {
                grid-area: 'somos';   
                text-align: left;
            }
            img{
                grid-area: 'cleaver';
            }
            a{
                grid-area: 'boton';
            }

        }

    }
    .slide1__Content{
        &__box{
            display: grid !important;
            grid-template-rows: auto auto !important;
            grid-template-columns: auto auto !important;
            grid-template-areas: 
            "ans exp"
            "btn btn";
            top: 170px !important;
            height: 50% !important;
            // display:flex !important;
            // flex-direction: row !important;
            justify-content: center !important;
            align-items: center !important;
            &-line1{
                grid-area: ans;
                font-size: 10rem !important;
                border-bottom: none !important;
                text-align: right;
            }
            &-line2{
                grid-area: exp;
                font-size: 4rem !important;
                text-align: left;
                border-left: 2px solid @color-white;
                padding-left: 20px;
                line-height: 6rem;
                font-weight: @font-light;
                strong{
                    font-weight: @font-bold;
                    font-size: 6rem;
                }
            }
        
            a{
                grid-area: btn;
                margin: 0 auto;
                position: unset !important;
            }

        }
    }
    .slide2__Content{
        &__box{
            display: grid !important;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "line1 line2 line3"
            "a a a";
            justify-content: center;
            align-items: center;
            max-width: 60%;
            gap:30px;
            top: 0;

            &-line1{
                grid-area: line1;
                align-self: center;
                justify-self: center;
                width: 100% !important;
                height: 100% !important;
            }
            &-line2{
                grid-area: line2;
                align-self: center;
                justify-self: center;
                width: 100% !important;
                height: 100% !important;

            }
            &-line3{
                grid-area: line3;
                align-self: center;
                justify-self: center;
                width: 100% !important;
                height: 100% !important;
            }
            a{
                grid-area: a;
                margin: 0 auto;

            }
        }

    }
    .slide3__Content{
        &__box{
            display: grid !important;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "line1 a";
            justify-content: center;
            align-items: center;
            &-line1{
                grid-area: line1;
                text-align: left !important;
                width: 100% !important;
                align-items: flex-start;
                display: grid !important;
                font-size: 4rem !important;
                line-height: 6rem !important;
                height: unset !important;
                strong{
                font-size: 6rem !important;

                }
            }

            a{
                grid-area: a;
                margin: 0 300px;
                justify-content: center;
                align-items: center;
                bottom: unset !important; 

            }

        }
    }
    .slide4__Content{
        &__box{
            display: grid !important;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "line1 a";
            justify-content: center;
            align-items: center;
            &-line1{
                grid-area: line1;
                text-align: left !important;
                width: 100% !important;
                align-items: flex-start;
                display: grid !important;
                font-size: 4rem !important;
                line-height: 6rem !important;
                height: unset !important;
                strong{
                font-size: 6rem !important;

                }

            }

            a{
                grid-area: a;
                margin: 0 300px;
                justify-content: center;
                align-items: center;
                bottom: unset !important; 


            }

        }
    }
    &__contactenos{
        display: flex;
        max-width: 1110px;
        height: 73px;
        margin: 40px auto;
        align-items: center;
        justify-content: center;
        p{
            font-size: 2.3rem;
            margin-right: 200px;
            width: 100%;
            margin: 0 20px;
        }
        
        // &__btn{
        //     grid-area: btn;
        //     border-radius: 10px;
        //     width: 100%;
        //     margin-right: 100px;
        //     height: 45px;
        //     background-color: @color-secondary;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //    a{
        //     text-decoration: none;
        //     color: @color-white;
            
        //    }

        
    }
    &__area{
        max-width: 1110px;
        margin: 30px auto;
        &__acerca{
            &__box{
                grid-template-columns: 1fr auto 1fr;
                grid-template-rows: 1fr;
                &-img{
                    p{
                        align-items: flex-end;
                        justify-content: flex-end;
                        padding-bottom: 40px;
                        padding-right: 20px;
                        line-height: 4.5rem;
                    }
                }
            }
        }
        &__experiencia{
            width: 1110px;
            margin: 80px auto;
            position: unset;
        }
        &__prioridad{
            &__items{
                margin: 0 auto;
                gap: 110px;
                
                &-item{
                    width: 238px;
                }
            }
        }
        &__elegirnos{
           
            
        &__items{
            width: 1110px;
            height: 570px;
            overflow: hidden;
            margin: auto auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            left: 0;
            padding: 20px;
            &-item{
                width: 800px;
                p{
                    font-size: @size-lg;
                }
            }
        }
        
        }
    }
}
.title{
    max-width: 600px;
}
.title2{
    max-width: 1110px;
    margin: 80px auto !important;
}
.empresa{
    .section__header{
        &-content{
            p{
               font-size: 6.6rem;
               line-height: 8rem;
               font-weight: 100;
               padding-left: 100px;
               strong{
                font-size: 8rem;
               }
            }
        }
    }
    &__content{
        &-historia{
            margin-bottom: 40px;
           p{
               top: 30px;
               margin: 20px;
               padding: 50px;
           }
        }
        max-width: 1110px;
        margin: 20px auto;
        &__mvv{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            &-box{
                p{
                    font-size: 1.4rem;

                }
            }
        }
       
    }
}
.banner-title{
    font-size: 8rem !important;
    font-weight: @font-regular !important;
    height: 348px;
    background-color: rgba(12,42,72, .40) !important;
  }
.servicios{
    .section__header{
        &-content{
            p{
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
    &__carousel{
        margin: 30px auto;
        width: 780px;
        height: auto;
        .carousel-indicators{
            bottom: 20px;
        }
    }
    &__necesidades{
        max-width: 1110px;
        margin: 20px auto;
    }
    &__periodico{
        max-width: 1110px;
        margin: 30px auto;
    }
    &__catalogo{
        max-width: 1110px;
        margin: 40px auto;
    }
}
.productos{
    &__brindar{
        margin: 0 auto;
        max-width: 1110px;
    }
    &__catalogo{
        max-width: 1110px;
        margin: 0 auto;
    }
}


footer{
    .footer__servirle{
        justify-content: center;
    }
    .footer__box{
        background-color: @color-text;
        &__body{
             max-width: 1920px;
             margin: 0 auto;
             display: grid;
             grid-template-columns: repeat(5, auto);
             grid-template-rows: 1fr;
             grid-template-areas: 
             "enlaces direccion horarios logo facebook";
            
            &-logo{
                grid-area: logo;
                width: 150px;
 
             }
            &-links{
                 grid-area: enlaces;
                 h2{
                     text-align: left;
                 }
                 li{
                     margin: 0;
                     text-align: left;
                 }
             }
            &-shedule{
                 grid-area: horarios;
             }
            &-socialmedia{
                 grid-area: facebook;  
             }
         }
     }
}