* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
}
.title {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 5px solid #831d22;
  margin: 40px 0;
}
.title2 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin: 30px;
  border-radius: 5px;
  padding: 10px;
}
.section__header {
  position: relative;
}
.section__header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}
/* .section__header-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section__header-content p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: absolute;
  color: #ffffff;
  background-color: rgba(34, 34, 34, 0.6);
  width: 100vw;
  font-size: 2.6rem;
  padding: 30px;
  text-align: left;
  font-weight: 300;
  line-height: 4.9rem;
} */
.section__header-content p strong {
  font-size: 4.5rem;
  font-weight: 600;
}
.section__header-content p span {
  font-weight: 800;
}
ul {
  padding-left: 0 !important;
}
.menu {
  background-color: #ffffff;
  color: #ffffff;
  height: 70px;
}
.menu__logo {
  max-width: 200px;
  overflow: hidden;
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.menu__links {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin-bottom: 0;
}
.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}
.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0deg);
}
.menu__link {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link-inside {
  padding: 20px 100px 20px 20px;
}
.menu__link-inside:hover {
  background-color: #798499 !important;
}
.menu__link:hover {
  background-color: #2F6887;
  color: #ffffff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.menu__arrow {
  -webkit-transform: var(--transform);
          transform: var(--transform);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: block;
  margin-left: 3px;
  background-color: #831d22;
}
.menu__nesting {
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  list-style: none;
  -webkit-transition: -webkit-clip-path 0.3s;
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  position: absolute;
  right: 0;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #831d22;
}
.menu__hamburger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}
.menu__img {
  display: block;
  width: 36px;
}
@media screen and (max-width: 800px) {
  .menu__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__link {
    padding: 15px 0;
    padding-left: 30px;
    height: auto;
    color: #ffffff;
  }
  .menu__link-inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
  .menu__item {
    --clip: 0;
    overflow: hidden;
  }
  .menu__item-active {
    --transform: rotate(0);
    --background: #798499;
  }
  .menu__item-show {
    background-color: var(--background);
  }
  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 115px;
    padding: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    overflow-y: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu__links-show {
    -webkit-transform: unset;
            transform: unset;
    width: 100%;
    z-index: 3;
  }
  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu__nesting {
    display: -ms-grid;
    display: grid;
    position: unset;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 0;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
  }
}
@media screen and (min-width: 1100px) {
  header .menu-top {
    max-width: 1110px;
  }
  header .menu__container {
    max-width: 1110px;
  }
}
