* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
}
.title {
  text-align: center;
  color: #000000;
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 5px solid #831d22;
  margin: 40px 0;
}
.title2 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin: 30px;
  border-radius: 5px;
  padding: 10px;
}
.section__header {
  position: relative;
}
.section__header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}
.section__header-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section__header-content p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  position: absolute;
  color: #ffffff;
  background-color: rgba(34, 34, 34, 0.6);
  width: 100vw;
  font-size: 2.6rem;
  padding: 30px;
  text-align: left;
  font-weight: 300;
  line-height: 4.9rem;
}
.section__header-content p strong {
  font-size: 4.5rem;
  font-weight: 600;
}
.section__header-content p span {
  font-weight: 800;
}
.title {
  margin: 15px auto !important;
  width: 100%;
}
.carousel__mobile {
  display: none !important;
}
.carousel__tablet {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: inline;
}
.carousel__desktop {
  display: none;
}
.carousel-item {
  height: 100px;
  padding-top: 30px;
}
.carousel__marcasTxt {
  font-size: 3.9rem;
}
.carousel__marcasTxt strong {
  color: #fff;
  margin: 0 10px;
}
.carousel-control-next-icon {
  height: 35px !important;
  width: 35px !important;
}
.carousel-control-prev-icon {
  height: 35px !important;
  width: 35px !important;
}
.carousel-inner-images {
  height: 796px;
}
.carousel-inner-imagesCalderas {
  height: 466px;
}
.carousel-indicators {
  bottom: 15px !important;
}
.carousel-indicators.carousel-indicatorsCalderas {
  bottom: 52px !important;
}
.marcas__propiedad p {
  font-size: 1.4rem;
}
.index .slideA__Content {
  width: 100%;
}
.index .slideA__Content__box {
  position: absolute;
  top: 15px;
}
.index .slideA__Content__box img {
  max-width: 75%;
  margin: 15px 34px;
}
.index .slideA__Content__box .slideA_logo {
  margin: 20px 10px 20px 20px !important;
}
.index .slideA__Content__box-txtsomos {
  font-family: 'Poppins', sans-serif;
  font-size: 3.8rem !important;
  text-align: center;
  margin: 5px 100px !important;
  line-height: 3.9rem;
}
.index .slideA__Content__box-txtsomos strong {
  font-size: 4rem !important;
}
.index .slideA__Content__box-txtservicio {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem !important;
  text-align: center;
}
.index .slideA__Content__box-cta {
  bottom: 13px !important;
}
.index .slideB__Content__box-cta {
  bottom: 28px;
}
.index .slide2__Content__box-line4 {
  position: absolute;
  bottom: 57px;
}
.index__contactenos p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.index__area__acerca__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #072A49;
}
.index__area__acerca__box > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.index__area__acerca__box > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.index__area__acerca__box > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.index__area__acerca__box-txt {
  margin: 20px;
}
.index__area__acerca__box-txt p:nth-child(1) {
  text-align: right;
  margin-right: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index__area__acerca__box-txt img {
  height: 100%;
}
.index__area__experiencia {
  background-image: url('../images/experienciaFondo-tablet.jpg');
  max-height: 522px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}
.index__area__experiencia-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.index__area__experiencia-txt p {
  width: 352px;
}
.index__area__experiencia-img {
  width: 197px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.index__area__prioridad__title {
  margin: 40px;
}
.index__area__prioridad__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  margin: 10px;
}
.index__area__prioridad__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.index__area__prioridad__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.index__area__prioridad__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.index__area__prioridad__items-item {
  margin: 0;
  height: 325px;
}
.index__area__prioridad__items-item-m .box-img {
  margin: 14px;
}
.index__area__elegirnos__items {
  background-image: url(../images/fondo-degradado-tablet.png);
  background-size: cover;
  overflow: hidden;
  background-position: 25% 75%;
  height: 484px;
  margin: 40px 0;
  position: unset;
}
.index__area__elegirnos__items-item {
  margin: 5px 20px;
}
.index__area__elegirnos__items-item img {
  width: 15px;
}
.index__area__elegirnos__items-item p {
  font-size: 1.6rem;
}
.empresa__content-historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.empresa__content-historia p {
  padding: 0px 30px;
  font-size: 1.7rem;
  padding: 2rem;
  top: unset;
}
.empresa__content__mvv-box {
  height: 477px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.empresa__content__mvv-box ul li {
  margin: 5px auto;
}
.servicios__periodico p {
  width: 695px;
  font-size: 2.1rem;
}
.servicios__catalogo__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.servicios__catalogo__items-item-capa h3 {
  height: 40px;
}
.servicios__catalogo__items-item .modal-content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.servicios__catalogo__items-item .modal-content-body-sidebar__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.productos .accordion-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.productos .accordion-body__box {
  max-height: 268px;
}
.productos .accordion-body__box-txt {
  border-radius: 0 0 4px 4px !important;
}
.contacto__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  gap: 10px;
}
.contacto__convencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contacto__convencer p {
  margin-left: 0;
  /* margin-right: 20px; */
  width: 100%;
  text-align: center;
}
.contacto .form__container__cta {
  margin: 0 70px !important;
}
footer .footer__servirle {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
footer .footer__header__box {
  max-width: 1110px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: unset;
      grid-template-areas: "phone cellphone email";
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Inter', sans-serif;
  padding: 20px 10px;
}
footer .footer__header__box__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer__header__box__cellphone {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cellphone;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer__header__box__email {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: email;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
footer .footer__box {
  background-color: #4F4B49;
}
footer .footer__box__body {
  max-width: 1110px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
      grid-template-areas: "enlaces direccion" "horarios facebook";
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer__box__body-links {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: enlaces;
}
footer .footer__box__body-links h2 {
  text-align: left;
}
footer .footer__box__body-links li {
  margin: 0;
  text-align: left;
}
footer .footer__box__body-shedule {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: horarios;
}
footer .footer__box__body-socialmedia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: facebook;
}
