
<footer>
  <div class="footer__servirle"> 
    <p class="line1">En </p><img src="images/SVG/logoSertec.svg" alt="Logo de Sertec"/>
    <p class="line2">estamos para servirle, contáctenos.</p>
  </div>
  <div class="footer__header">
    <div class="footer__header__box">
      <div class="footer__header__box__phone">
        <div class="footer__header-icon"><img src="images/Iconos/phone.svg" alt="icono de teléfono fijo"/></div>
        <div class="footer__header__phone-num"> 
          <p>449 975-02-43 <br/>449 973-85-21</p>
        </div>
      </div>
      <div class="footer__header__box__cellphone">
        <div class="footer__header-icon"> <img src="images/Iconos/smartphone.svg" alt="ícono de un celular"/></div>
        <div class="footer__header__cellphone-num"> 
          <p>449 143-59-39</p>
        </div>
      </div>
      <div class="footer__header__box__email"> 
        <div class="footer__header-icon"><img src="images/Iconos/email.svg" alt="ícono de un email"/></div>
        <div class="footer__header__email-txt"> 
          <p>sertec_ags@serteccalderas.com.mx</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__box">
    <div class="footer__box__body">
      <div class="footer__box__body-logo"><img src="images/SVG/logoSertec.svg" alt="logotipo de SERTEC CALDERAS"/></div>
      <div class="footer__box__body-links">
        <ul> 
          <li><a href="index.html">INICIO</a></li>
          <li><a href="empresa.html">¿QUIÉNES SOMOS? </a></li>
          <li><a href="servicios.html">SERVICIOS</a></li>
          <li><a href="productos.html">PRODUCTOS</a></li>
          <li><a href="calderas.html">CALDERAS</a></li>
          <li><a href="contacto.html">CONTACTO</a></li>
          <li><a href="privacidad.html">POLÍTICA DE PRIVACIDAD </a></li>
        </ul>
      </div>
      <div class="footer__box__body-address"> 
        <h2>DIRECCIÓN</h2><img src="images/SVG/address.svg" alt="ícono de ubicación"/>
        <p>Circuito Lacustre No. 309, Fracc. Villas del Cóbano <br/>C.P. 20150<br/> Aguascalientes, Ags.</p>
      </div>
      <div class="footer__box__body-schedule">
        <h2>HORARIOS DE ATENCIÓN</h2>
        <div class="footer__box__body-schedule-hours">
          <p>Lunes a Viernes: </p>
          <p>9:00 am - 6:00 pm</p>
          <p>Sábado: </p>
          <p>9:00 am - 2:00 pm</p>
          <p>Domingo: </p>
          <p>Cerrado</p>
        </div>
      </div>
      <div class="footer__box__body-socialmedia">
        <div class="footer__box__body-socialmedia__icon">
          <h2>SÍGUENOS</h2><a href="https:/facebook.com"> <img src="images/SVG/face.svg" alt="Ícono de facebook"/></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__foot"> 
    <div class="rights">
      <p>SERTEC CALDERAS 2022</p>
    </div>
  </div>
</footer>
<script src="js/app-dist.js"></script>
<script src="js/arriba.js"></script>