footer
    .footer__servirle 
        p.line1 En 
        img(src="images/SVG/logoSertec.svg", alt="Logo de Sertec")
        p.line2 estamos para servirle, contáctenos.
    .footer__header
        .footer__header__box
            .footer__header__box__phone
                .footer__header-icon
                    img(src="images/Iconos/phone.svg", alt="icono de teléfono fijo")
                .footer__header__phone-num 
                    p 449 975-02-43 #[br]449 973-85-21
            .footer__header__box__cellphone
                .footer__header-icon 
                    img(src="images/Iconos/smartphone.svg", alt="ícono de un celular")
                .footer__header__cellphone-num 
                    p 449 143-59-39
            .footer__header__box__email 
                .footer__header-icon
                    img(src="images/Iconos/email.svg", alt="ícono de un email")
                .footer__header__email-txt 
                    p sertec_ags@serteccalderas.com.mx
    .footer__box
        .footer__box__body
            //- .footer__box__body-logo
            //-     img(src="images/SVG/logoSertec.svg", alt="logotipo de SERTEC CALDERAS")
            .footer__box__body-links
                ul 
                    li
                        a(href="index.html") INICIO
                    li
                        a(href="empresa.html") ¿QUIÉNES SOMOS? 
                    li
                        a(href="servicios.html") SERVICIOS
                    li
                        a(href="productos.html") PRODUCTOS
                    li
                        a(href="calderas.html") CALDERAS
                    li
                        a(href="contacto.html") CONTACTO
                    li
                        a(href="privacidad.html") POLÍTICA DE PRIVACIDAD 
            .footer__box__body-address 
                h2 DIRECCIÓN
                img(src="images/SVG/address.svg", alt="ícono de ubicación")
                p Circuito Lacustre No. 309, Fracc. Villas del Cóbano #[br]C.P. 20150#[br] Aguascalientes, Ags.

            .footer__box__body-schedule
                h2 HORARIOS DE ATENCIÓN
                .footer__box__body-schedule-hours
                    p Lunes a Viernes: 
                    p 9:00 am - 6:00 pm
                    p Sábado: 
                    p 9:00 am - 2:00 pm
                    p Domingo: 
                    p Cerrado
            .footer__box__body-socialmedia
                .footer__box__body-socialmedia__icon
                    h2 SÍGUENOS
                    a(href="https:/facebook.com") 
                        img(src="images/SVG/face.svg", alt="Ícono de facebook")
    .footer__foot 
        .rights
            p SERTEC CALDERAS 2023

script(src="js/app-dist.js")
script(src="js/arriba.js")
script(src="js/limpiar.js")
script(src="js/script.js")
