header
    .menu-top 
        p Bienvenido a SERTEC.
        a(href="/privacidad.html").menu-top__link Aviso de Privacidad
    nav.menu 
            section.menu__container 
                img(src="/images/SVG/logoSertec.svg").menu__logo
                ul.menu__links 
                    li.menu__item 
                        a(href="index.html").menu__link INICIO
                    li.menu__item 
                        a(href="empresa.html").menu__link ¿QUÍENES SOMOS?
                    li.menu__item 
                        a(href="servicios.html").menu__link SERVICIOS
                    li.menu__item 
                        a(href="productos.html").menu__link PRODUCTOS
                    li.menu__item 
                        a(href="calderas.html").menu__link CALDERAS
                    li.menu__item 
                        a(href="contacto.html").menu__link CONTACTO
                .menu__hamburger 
                    img(src="/images/Iconos/menu.svg" alt="icono de menu").menu__img  
        

