extend ../components/template.pug
block content
    .calderas
        .section__header
            .section__header-content
                picture
                    source(media="(min-width:1110px)" srcset="images/JPG/bannerCalderas1920x600.jpg")
                    source(media="(min-width:768px)" srcset="images/JPG/bannerCalderas834x537.jpg")
                    img(src="images/JPG/bannerCalderas428x374.jpg", alt="Ingeniero con casco").img-fluid
                p.banner-title CALDERAS
        p.title VENTA DE CALDERAS
        .calderas__venta 
            p Venta de calderas industriales de la marca:
            img(src="images/Marcas/Cleaver.png", alt="Logo de CleaverBrooks")
        .calderas__carousel
            .carousel.slide(data-bs-ride="carousel")#carouselExampleIndicators
                .carousel-indicators 
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1").active
                        img(src="images/Calderas/caldera-1-1200x600.jpg").d-block.w-100
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                        img(src="images/Calderas/caldera-2-1200x600.jpg").d-block.w-100
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
                        img(src="images/Calderas/caldera-3-1200x600.jpg").d-block.w-100
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4")
                        img(src="images/Calderas/caldera-4-1200x600.jpg").d-block.w-100
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5")
                        img(src="images/Calderas/caldera-5-1200x600.jpg").d-block.w-100
                .carousel-inner 
                    .carousel-item.active 
                        img(src="images/Calderas/caldera-1-1200x600.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/Calderas/caldera-2-1200x600.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/Calderas/caldera-3-1200x600.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/Calderas/caldera-4-1200x600.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/Calderas/caldera-5-1200x600.jpg").d-block.w-100
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev").carousel-control-prev
                    span(aria-hidden="true").carousel-control-prev-icon
                    span.visually-hidden Previous
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next").carousel-control-next
                    span(aria-hidden="true").carousel-control-next-icon
                    span.visually-hidden Next

