extend ../components/template.pug
block content
    .servicios
        .section__header
            .section__header-content
                picture
                    source(media="(min-width:1110px)" srcset="images/JPG/bannerServicios1920x600.jpg")
                    source(media="(min-width:768px)" srcset="images/JPG/bannerServicios834x537.jpg")
                    img(src="images/JPG/bannerServicios428x374.jpg", alt="Ingeniero con casco").img-fluid
                p.banner-title SERVICIOS
        p.title NUESTROS SERVICIOS
        .servicios__necesidades 
            p Una de las mayores necesidades de nuestros clientes ha sido siempre el obtener la más alta calidad, garantía y mejor tiempo de respuesta en los servicios; es por ello que en #[strong SERVICIO TÉCNICO A CALDERAS] contamos con un equipo de trabajo altamente calificado y capacitado, con sólidos y amplios conocimientos en diseño, operación, reparación, instalación y mantenimiento de calderas, permitiéndole a nuestros clientes mantenerse operativos de una forma segura y eficiente.
        .servicios__carousel
            .carousel.slide(data-bs-ride="carousel")#carouselExampleIndicators
                .carousel-indicators 
                    //- button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1").active
                    //-     img(src="images/FotosServicios/1.jpg").d-block.w-100.img-fluid
                    //- button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                    //-     img(src="images/FotosServicios/2.jpg").d-block.w-100.img-fluid
                    //- button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
                    //-     img(src="images/FotosServicios/3.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1").active
                        img(src="images/FotosServicios/1.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                        img(src="images/FotosServicios/2.jpg").d-block.w-100.img-fluid
                    //- button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6")
                    //-     img(src="images/FotosServicios/6.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
                        img(src="images/FotosServicios/3.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4")
                        img(src="images/FotosServicios/4.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5")
                        img(src="images/FotosServicios/5.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6")
                        img(src="images/FotosServicios/6.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7")
                        img(src="images/FotosServicios/7.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8")
                        img(src="images/FotosServicios/8.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9")
                        img(src="images/FotosServicios/9.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10")
                        img(src="images/FotosServicios/10.jpg").d-block.w-100.img-fluid
                    button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11")
                        img(src="images/FotosServicios/11.jpg").d-block.w-100.img-fluid
                .carousel-inner 
                    .carousel-item.active
                        img(src="images/FotosServicios/1.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/2.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/3.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/4.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/5.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/6.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/7.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/8.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/9.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/10.jpg").d-block.w-100
                    .carousel-item 
                        img(src="images/FotosServicios/11.jpg").d-block.w-100
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev").carousel-control-prev
                    span(aria-hidden="true").carousel-control-prev-icon
                    span.visually-hidden Previous
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next").carousel-control-next
                    span(aria-hidden="true").carousel-control-next-icon
                    span.visually-hidden Next
        //- /-     .carousel.slide(data-bs-ride="true")#carouselExampleIndicators
        //- /-         .carousel-indicators 
        //- /-             button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1").active
        //- /-             button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
        //- /-             button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3")
        //- /-         .carousel-inner 
        //- /-             .carousel-item.active 
        //- /-                 img(src="images/slidesMobile/slide1-480x565.jpg", alt="")
        //- /-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev").carousel-control-prev
        //- /-             span(aria-hidden="true").carousel-control-prev-icon
        //- /-             span.visually-hidden Previous
        //- /-         button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next").carousel-control-next
        //- /-             span(aria-hidden="true").carousel-control-next-icon
        //- /-             span.visually-hidden Next
        .servicios__periodico
            picture
                source(media="(min-width:768px)" srcset="images/JPG/bannerservicios1920x500-.jpg") 
                source(media="(min-width:768px)" srcset="images/JPG/bannerServicios834x537-.jpg") 
                img(src="images/JPG/bannerservicios428x374-.jpg", alt="Ingeniero con casco").img-fluid
            p Realizar un periódico y adecuado mantenimiento a sus equipos,#[br] #[strong ayudará a reducir costos de operación.]
        p.title2 CATÁLOGO DE SERVICIOS
        .servicios__catalogo 
            .servicios__catalogo__items 
                //- ITEM SERVICIOS
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/disenoCuartoMaquinas500x458.jpg", alt="").img-fluid
                    p DISEÑO DE CUARTO DE MÁQUINAS
                    button(type="button" data-bs-toggle="modal" data-bs-target="#maquinasModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="maquinasModalLabel" aria-hidden="true")#maquinasModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    p.modal-title#exampleModalLabel CUARTO DE MÁQUINAS
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        .modal-content-body-sidebar__images 
                                            img(src="images/Single/DisenoCuartodeMaquinas.jpg", alt="").img-fluid
                                    .modal-content-body-content
                                        p Diseño y planeación del cuarto o sala de máquinas para el posterior establecimiento de calderas y calentadores con sus equipos auxiliares.
                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                //- ITEM SERVICIOS
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/instalacionCalderas500x458.jpg").img-fluid
                    p INSTALACIÓN DE CALDERAS #[br]Y #[br]EQUIPOS AUXILIARES
                    button(type="button" data-bs-toggle="modal" data-bs-target="#hollinModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")#hollinModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel INSTALACIÓN DE COLECTOR DE HOLLÍN
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        .modal-content-body-sidebar__images 
                                            img(src="images/Single/hollin.jpg", alt="Hollin").img-fluid
                                            img(src="images/Single/instalacionCalderasEquiposAux.jpg", alt="Hollin").img-fluid
                                    .modal-content-body-content
                                        p Desmontaje, colocación, instalación, arranque de calderas y calentadores así como de:
                                        ul 
                                            li 
                                                p - Equipos auxiliares y equipos sujetos a presión.
                                            li 
                                                p - Líneas y tuberías de vapor, agua y combustible.
                                            li 
                                                p - Tanques de combustible, condensados y agua caliente.
                                            li 
                                                p - Chimeneas y suavizadores.

                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
            
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/MttoCalderas500x458.jpg", alt="").img-fluid
                    p MANTENIMIENTO PREVENTIVO #[br]Y #[br]CORRECTIVO A CALDERAS
                    button(type="button" data-bs-toggle="modal" data-bs-target="#mttoModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="mttoModalLabel" aria-hidden="true")#mttoModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    p.modal-title#exampleModalLabel MANTENIMIENTO PREVENTIVO
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        .modal-content-body-sidebar__images
                                            h3 ANTES
                                            img(src="images/Single/mantenimientoPrevCorr1.jpg").img-fluid
                                            h3 DESPUÉS 
                                            img(src="images/Single/mantenimientoPrevCorr2.jpg").img-fluid
                                    .modal-content-body-content
                                        p Mantenimiento preventivo, correctivo, reparaciones y atención de fallas a calderas:
                                        ul 
                                            li 
                                                p - Lavados y deshollinados.
                                            li 
                                                p - Limpieza y calibración de controles de presión.
                                            li 
                                                p - Revisión de los sistemas de seguridad.
                                            li 
                                                p - Pruebas y ajustes de combustión.
                                            li 
                                                p - Pruebas hidrostáticas.
                                            li  
                                                p - Cambio y reparación de:
                                                ul
                                                    li.vineta 
                                                        p Amplificadores de flama (infrarrojos y ultravioleta), programadores. 
                                                    li.vineta  
                                                        p Bombas y válvulas.
                                                    li.vineta  
                                                        p Espejos, hogar, cañones lisos y corrugados, tanques, suavizadores y serpentines.
                                                    li.vineta  
                                                        p Instalaciones, sistema eléctrico y de control.
                                                    li.vineta  
                                                        p Refractarios.
                                                    li.vineta  
                                                        p Tapas refractarias completas delanteras, intermedias y  traseras.
                                                    li.vineta  
                                                        p Tubería flux.
                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/conversionCalderas500x458.jpg").img-fluid
                    p CONVERSIÓN DE COMBUSTIBLES A CALDERAS
                    button(type="button" data-bs-toggle="modal" data-bs-target="#conversionModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="conversionModalLabel" aria-hidden="true")#conversionModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel CONVERSIÓN DE COMBUSTÓLEO A GAS NATURAL
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        .modal-content-body-sidebar__images
                                            h3 ANTES
                                            img(src="images/Single/conversionCombustibles1.jpg", alt="Caldera").img-fluid
                                            h3 DESPUÉS
                                            img(src="images/Single/conversionCombustibles2.jpg", alt="Caldera").img-fluid

                                    .modal-content-body-content
                                        p Conversión de combustibles a calderas:
                                        ul 
                                            li 
                                                p - De gas a combustóleo.
                                            li 
                                                p - De combustóleo a gas.
                                            li 
                                                p - De combustóleo a diésel.
                                            li 
                                                p - De diésel a gas.
                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/quemadores500x458.jpg").img-fluid
                    p MANTENIMIENTO PREVENTIVO #[br]Y#[br] CORRECTIVO A QUEMADORES
                    button(type="button" data-bs-toggle="modal" data-bs-target="#quemadoresModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="quemadoresModalLabel" aria-hidden="true")#quemadoresModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel MANTENIMIENTO PREVENTIVO
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                    
                                        .modal-content-body-sidebar__images
                                            h3 ANTES
                                            img(src="images/Single/quemadores1.jpg", alt="").img-fluid
                                            h3 DESPUÉS
                                            img(src="images/Single/quemadores2.jpg", alt="").img-fluid
                                    .modal-content-body-content
                                        p Mantenimiento preventivo, correctivo, reparaciones y atención de fallas a quemadores:
                                        ul 
                                            li 
                                                p - Revisión, limpieza, ajuste y calibración de quemadores para hornos y calderas conforme a análisis de emisión de gases.

                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/carburacionesTesto500x458.jpg").img-fluid
                    p CARBURACIONES CON EQUIPO ANALIZADOR TESTO
                    button(type="button" data-bs-toggle="modal" data-bs-target="#testoModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="testoModalLabel" aria-hidden="true")#testoModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel CARBURACIÓN
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        
                                        .modal-content-body-sidebar__images 
                                            img(src="images/Single/testo1.jpg").img-fluid
                                            img(src="images/Single/testo2.jpg").img-fluid
                                    .modal-content-body-content
                                        p Carburación con equipo analizador de gases de combustión marca Testo para sistemas mecánicos y electrónicos.
                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/cursos500x458.jpg", alt="").img-fluid
                    p CURSO BÁSICO DE OPERACIÓN A CALDERAS
                    button(type="button" data-bs-toggle="modal" data-bs-target="#cursosModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="cursosModalLabel" aria-hidden="true")#cursosModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel CURSO DE CALDERAS
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                   
                                        .modal-content-body-sidebar__images 
                                            img(src="images/Single/curso.jpg").img-fluid
                                    .modal-content-body-content
                                        p Cursos de evaluación, capacitación, actualización y asesoría para fogoneros con validez ante S.P.S. y que tienen como finalidad dar cumplimiento ante la Norma Oficial mexicana NOM-020-STPS-2002  así como a la conservación, cuidado y buen uso de las calderas instaladas en las empresas.

                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar
                .servicios__catalogo__items-item
                    img(src="images/serviciosMobile/serviciosAdicionales500x458.jpg").img-fluid
                    p SERVICIOS ADICIONALES
                    button(type="button" data-bs-toggle="modal" data-bs-target="#adicionalesModal").btn.btn-primary.btn-modal.btn-servicios Más Información
                    //- ****MODAL***
                    .modal.fade(tabindex="-1" aria-labelledby="adicionalesModalLabel" aria-hidden="true")#adicionalesModal
                        .modal-dialog.modal-dialog-centered.modal-xl.modal-xl
                            .modal-content
                                .modal-content-close
                                    a(data-bs-dismiss="modal" aria-label="Close")
                                        img(src="images/Iconos/circle-xmark-solid.svg")
                                .modal-content-header
                                    
                                    p.modal-title#exampleModalLabel EMERGENCIAS
                                .modal-content-body
                                    .modal-content-body-sidebar 
                                        
                                        .modal-content-body-sidebar__images 
                                            img(src="images/Single/emergencias.jpg").img-fluid
                                    .modal-content-body-content
                                        ul 
                                            li  
                                                p - Soporte y asesoría técnica especializada.
                                            li 
                                                p - Consultoría. 
                                            li 
                                                p - Diagnóstico de equipos e instalaciones.
                                            li  
                                                p - Emergencias.



                                .modal-footer.modal-content-footer
                                    button(type="button" data-bs-dismiss="modal").btn.btn-secondary Cerrar